#main-background {
	background: #000;
	color: #FFF;
	width: 100%;
}
h1 {
	text-align: center;
	margin: 50px auto;
}
#character-select {
	width: 100%;
}
#bob, #boberella, #bobo {
	width: 250px;
	height: 250px;
	background: #fff;
	float: right;
	border: 2px solid #F00;
	margin: 0 auto;
}

#clear-fix {
	clear: both;
	margin-top: 100px;
}